requests
pandas >= 3.0.0rc0
python-dateutil
pillow
selenium
setuptools
pypdf
polling2
numpy
icalendar
feedparser
natsort
openpyxl
pywin32 ; sys_platform == 'win32'
py-trello
govuk-bank-holidays
polling2
rpyc
